@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
  cursor: pointer;
  color: var(--Grayish_Violet);
}
p {
  font-weight: 400;
  color: var(--Grayish_Violet);
}
img {
  cursor: pointer;
}
.app {
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: baseline;
}

/* ***** Styling the desktop Menue ***** */
.app__menue {
  display: flex;
  width: 100%;
  padding: 3rem 10rem 2rem 10rem;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.menue__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.menue__links img {
  margin-top: 0.4rem;
}
.menue__buttons {
  display: flex;
  width: 100%;
  height: auto;
  gap: 2.4rem;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.menue__buttons ul {
  width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  font-size: 16px;
  font-weight: 700;
}
.menue__buttons ul li:hover {
  color: var(--Very_Dark_Violet);
}
.buttons {
  display: flex;
  width: auto;
  max-width: max-content;
  align-items: center;
  gap: 2rem;
  font-size: 16px;
  font-weight: 700;
}

.button__login,
.button__signup {
  cursor: pointer;
}
.button__login {
  color: var(--Grayish_Violet);
}
.button__signup {
  background-color: var(--Cyan);
  color: #ffff;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  font-weight: 700;
}
.button__signup:hover {
  background-color: var(--hover);
}
.menue__mobile {
  display: none;
}

/* **** Styling the menue Version mobile *****  */

@media (max-width: 900px) {
  .app__menue {
    display: flex;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .menue__buttons {
    display: flex;
    width: 85%;
    flex-direction: column;
    margin-top: 24rem;
    padding: 2rem 2rem;
    position: absolute;
    display: none;
    background-color: var(--Dark_Violet);
    z-index: 99;
    text-align: center;
    border-radius: 1rem;
  }
  .menue__links {
    display: flex;
    width: 100%;
    gap: 0;
  }
  .menue__links ul {
    flex-direction: column;
    width: 100%;
    gap: 1.3rem;
    border-bottom: 0.01px solid var(--Grayish_Violet);
    padding-bottom: 1.5rem;
  }

  .menue__links ul li {
    color: var(--White);
  }
  .button__login {
    padding: 1rem 0;
    color: var(--White);
  }
  .menue__mobile {
    display: block;
  }
  .menue__mobile i {
    font-size: 26px;
    color: var(--Gray);
  }
}

/* ***** Styling  The Desktop Header ***** */

.app__header {
  display: flex;
  justify-content: center;
  padding: 3rem 0 9.5rem 10rem;
  width: 100%;
  align-items: flex-start;
}
.header__left,
.header__right {
  flex-basis: 50%;
}
.header__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4.3rem;
}

.header__left h1 {
  text-align: start;
  color: var(--Very_Dark_Violet);
  font-size: 80px;
  line-height: 1.1;
  letter-spacing: -1px;
}
.header__left p {
  padding: 5px 0 2.3rem 0;
  width: 90%;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

.header__right {
  background-image: url(./images/illustration-working.svg);
  background-repeat: no-repeat;
  background-position: 30px;
  width: 100%;
  height: 30rem;
}

.header__button {
  margin-top: 0.3rem;
  width: max-content;
  background-color: var(--Cyan);
  color: var(--White);
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: 700;
}
.header__button:hover {
  background-color: var(--hover);
}

/* **** Styling the Header for version Mobile  ***** */
@media screen and (max-width: 900px) {
  .app__header {
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    margin-bottom: 8rem;
  }
  .header__left,
  .header__right {
    flex-basis: auto;
  }
  .header__left {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    order: 2;
    padding: 0 2rem;
  }

  .header__left h1 {
    text-align: center;
    font-size: 40px;
  }

  .header__left p {
    text-align: center;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 17px;
  }

  .header__right {
    z-index: 2;
    margin: -4rem 0 1.5rem 0;
    width: 100%;
    height: 60vh;
    background-position: 30px 10px;
    background-size: cover;
    order: 1;
  }
}

/* *** Styling the content statistics version desktop  *****/

.app__content {
  width: 100%;
  padding: 2rem 10rem;
  background-color: var(--Gray__background);
}
.content__form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark_Violet);
  padding: 3.26rem 3rem;
  border-radius: 0.5rem;
  background-image: url(./images/bg-shorten-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0.5rem;
  gap: 1.3rem;
  margin-top: -7.3rem;
}

.content__statistics {
  margin: -1rem auto auto auto auto;
  padding-bottom: 4rem;
}

.content__form input {
  border: 0;
  padding: 1.2rem 2rem;
  border-radius: 8px;
  width: 77%;
  text-align: left;
  font-size: 21px;
}
.content__form .form__button {
  width: max-content;
  background-color: var(--Cyan);
  padding: 1.2rem 2.3rem;
  border-radius: 8px;
  color: var(--White);
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
}
.form__button:hover {
  background-color: var(--hover);
}
.content__statistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.statistics__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 7.6rem 0 6.3rem 0;
}
.statistics__header h1 {
  padding-bottom: 10px;
}
.statistics__header p {
  text-align: center;
  font-weight: 500;
  width: 58%;
  line-height: 1.8;
}

.statistics__detaills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.detaills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--White);
  padding: 5rem 2rem 2rem 2rem;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  height: max-content;
}
.detaills img {
  background-color: var(--Dark_Violet);
  padding: 1.5rem;
  border-radius: 50%;
  margin-top: -8rem;
}
.detaills h2 {
  margin-top: 1rem;
  font-size: 22px;
  color: var(--Very_Dark_Viole);
}
.detaills p {
  font-size: 15px;
  line-height: 1.7;
}

.detaills:nth-child(2) {
  margin-top: 3rem;
}
.detaills:nth-child(3) {
  margin-top: 6rem;
}
.bar {
  background-color: var(--Cyan);
  height: 10px;
  width: 70%;
  margin-top: 31.5rem;
  position: absolute;
  z-index: 0;
}

/* **** Stlying the statistics version mobile **** */

@media (max-width: 900px) {
  .app__content {
    width: 100%;
    padding: 2rem;
  }

  .content__form {
    padding: 2rem 1.2rem;
    flex-direction: column;
    background-image: url(./images/bg-shorten-mobile.svg);
    background-position: 60px -65px;
    margin-top: -8rem;
  }

  .content__form input {
    width: 100%;
    padding: 0.7rem 2rem;
    font-size: 17px;
  }

  .content__form .form__button {
    text-align: center;
    width: 100%;
  }
  .statistics__header {
    padding: 0;
    padding: 5rem 0 3rem 0;
  }
  .statistics__header h1 {
    padding-bottom: 20px;
    font-size: 28px;
  }
  .statistics__header p {
    width: 100%;
    font-size: 17px;
  }

  .statistics__detaills {
    grid-template-columns: none;
    grid-gap: 0rem;
  }

  .detaills {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .detaills img {
    background-color: var(--Dark_Violet);
    padding: 1.5rem;
    border-radius: 50%;
    margin-top: -8rem;
  }
  .detaills h2 {
    font-size: 22px;
    color: var(--Very_Dark_Viole);
  }
  .detaills p {
    font-size: 15px;
    line-height: 1.7;
  }
  .detaills:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .detaills:nth-child(2) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .detaills:nth-child(3) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .bar {
    background-color: var(--Cyan);
    height: 900px;
    width: 8px;
    margin-top: 20rem;
    position: absolute;
    z-index: 0;
    transform: rotateY(180eg);
  }
}

/* ***Styling the Prefooter version Desktop   *****/
.app__prefooter {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 4rem;
  background-color: var(--Dark_Violet);
  background-image: url(./images/bg-boost-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

.app__prefooter h2 {
  color: var(--White);
  font-weight: 700;
  font-size: 37px;
  padding-bottom: 1.2rem;
}
.prefooter__button {
  width: max-content;
  background-color: var(--Cyan);
  color: var(--White);
  padding: 0.7rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
}
.prefooter__button:hover {
  background-color: var(--hover);
}

/* ****Stlying the prefooter For version mobile ***** */
@media (max-width: 900px) {
  .app__prefooter {
    padding: 4rem 0rem;
    background-image: url(./images/bg-boost-mobile.svg);
    text-align: center;
  }

  .app__prefooter h2 {
    color: var(--White);
    font-weight: 700;
    font-size: 27px;
    padding-bottom: 1.2rem;
  }
}

/* **** Styling the footer version Desktop *****/

.app__footer {
  width: 100%;
  background-color: var(--Very_Dark_Violet);
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 10rem;
}
.footer__logo {
  width: 28%;
}
.footer__logo img {
  filter: brightness(0) invert(1);
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.footer__links ul li:nth-child(1) {
  color: var(--White);
  padding-bottom: 1.5rem;
}
.footer__links ul li {
  padding: 5px;
}
.footer__links ul li:hover {
  color: var(--Cyan);
}
.footer__icons {
  display: flex;
  width: 16%;
  justify-content: space-between;
}
.footer__icons img {
  width: 25px;
  height: 25px;
}
.footer__icons img:hover {
  color: var(--Cyan);
}
img {
  cursor: pointer;
}

/* **** Styling the footer Verison mobile **** */
@media (max-width: 900px) {
  .app__footer {
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
    gap: 2rem;
  }
  .footer__logo {
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .footer__links {
    display: grid;
    grid-template-columns: none;
    grid-gap: 1.5rem;
    text-align: center;
  }
  .footer__icons {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .footer__icons img {
    width: 20px;
    height: 20px;
  }
}
